{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
{% include("components/nav.html.twig") %}

<h1 class="text-center">{{ project.title }}</h1>
  <div class="container">
    <ul class="list-group list-group-flush">

      <li><img class="card-article" src="{{ asset('uploads/brochures/' ~ project.image) }}" alt="Image de l'article"></li>
      <li class="list-group-item">Description de l'article :
        <br>{{ project.description }}</li>
    </ul>
  </div> 
  {% if app.user is same as project.user %}
  <div class="container">
    <a class="btn btn-primary" href="{{ path('add_users', { id:project.id }) }}">Ajouter un membre</a>
    <a class="btn btn-success" href="{{ path('upd_project', { id:project.id }) }}">Modifer</a>
    <a class="btn btn-danger" href="{{ path('del_project', { id:project.id }) }}">Supprimer</a>
  </div>
  {% endif %}
  <div class="text-center">
    <h2>Les membres de l'article:</h2>
    {% if project.userId | length > 0 %}
      <ul class="list-group">
        {% for member in project.userId %}
          <li class="list-group-item">{{ member.firstname }}
            {{ member.lastname }}
            {{ member.email }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun membre</p>
    {% endif %}
</div>
{% endblock %}
